.aboutHeader{
  text-align: center;
  font-family: 'Karla', sans-serif;
}

.aboutContainer {
  width: 65%;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;

}

.aboutMeParagraph {
  margin-top: 5%;
  display: inline-block;
  text-align: left;
  font-family: 'Karla', sans-serif;
}

@media (max-width:600px) {
  body {
    font-size: 20px;
  }
}

@media (min-width:601px) {
  body {
    font-size: 30px;
  }
}
