.projectsHeader{
  text-align: center;
  font-family: 'Karla', sans-serif;

}

.projectsContainer{
  width: 75%;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
}

.listOfProjects{
  display: inline-block;
  text-align: left;
}

.ourListStyles{
  list-style-type: none;
}
