.contactHeader{
  text-align: center;
}

.card {
  font-family: 'Karla', sans-serif;
  width: 40%;
  padding-bottom: 5%;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 5%;
  margin: 5% auto;
}

.innerText {
  padding-top: 50px;
  font-size: 70px;
  color: black;
}

.innerText a:link{
  text-decoration: none;
}

.ourList{
  list-style: none;
  text-align: center;
}
