.footerStuff{
  font-family: 'Karla', sans-serif;
  padding-top: 10%;
  text-align: center;
  bottom:0;
     z-index:150;
     _position:absolute;
     _top:expression(eval(document.documentElement.scrollTop+
         (document.documentElement.clientHeight-this.offsetHeight)));
     height:35px;
   }
