.everythingInHeader{
  font-family: 'Karla', sans-serif;
  width: 95%;
}

.linksInHeader {
  margin-top:20px;
  list-style-type: none;
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 95%;
}

.linksInHeader a:link{
  text-decoration: none;
}
