.projectsHeader{
  text-align: center;
}

.projectsContainer{
  width: 75%;
  margin: 0 auto;
}

.listOfProjects{
  display: inline-block;
  text-align: left;
}

.ourListStyles{
  list-style-type: none;

}
