.projectsHeader{
  text-align: center;
}

.projectsContainer{
  width: 50%;
  margin: 0 auto;
}

.listOfProjects{
  display: inline-block;
  text-align: left;
}
.projectTitle{
  text-align: center;
}
.ourListStyles{
  list-style-type: none;
  font-size: 20px;
}

@media (min-width:600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width:800px) {
  body {
    font-size: 30px;
  }
}
